html { 
    text-align: center;
    background: none repeat scroll 0 0 #dce3e6;
    vertical-align: middle;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-family: Tahoma, Geneva, sans-serif;
}

#home-index {
    background: none no-repeat scroll right top #dce3f0;
    vertical-align: right;
    text-align: left;
    border: 1px solid;
    padding: 10px;
    width:30%;
}
